@media screen and (max-width: 1199px) {
    .occupation {
        display: none;
    }
}

.occupation {
    padding-bottom: 94px;
}

.occupation__menu {
    display: flex;
    justify-content: space-between;
}

.occupation__card {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.occupation__desc {
    @include fonts(700, 14px, 16px);
    // font-weight: var(--bold-font);
    // font-size: 14px;
    // line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px 0;
    position: absolute;
    bottom: 0;
}