
.main-title {
    font-weight: var(--bolder-font);
    font-size: 26px;
    line-height: 1.62;  
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .main-title {
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .main-title {
        @include fonts(900, 44px, 60px);
        max-width: 696px;
        margin-left: auto;
        margin-right: auto;
    }
}

