:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196f3;
    --fon-color: #2f303a;
    --icon-color: #afb1b8;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --medium-font: 500;
    --bold-font: 700;
    --bolder-font: 900;
}